body{
    background-color: #000000;
    font: 18px Gilroy, sans-serif;
}
.navbar {
    background-color: #1a0000; /* Dark background color */
}
.navbar-brand img {
    width: 150px; /* Adjust the logo size */
}
.nav-link {
    color: #ffffff !important; /* White text color */
    font-weight: 500;
}
.nav-link:hover {
    color: #ff4444 !important; /* Highlight color on hover */
}

/* Video Background */
.video-background {
    position: relative; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 25px;
}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.content {
    z-index: 1; 
    padding-top: 3%;
}


.logo {
    width: 100%;
    height: 200px;
}

.countdown-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 30px 0;
}

.countdown-box {
    background-color: #fd4d4d1a;
    padding: 20px;
    border-radius: 10px;
    width: 130px;
}
.shadow-border {
    box-shadow: inset 0 0 .3em 0 hsl(0, 91%, 58%), 0 0 .3em 0 hsl(0, 91%, 58%);
    border:  hsl(0, 91%, 58%) .125em solid;
}
.uppercase{
    text-transform: uppercase;
}
 
.countdown-box span {
    display: block;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.countdown-box p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    font-weight: 500;
}

.event-details {
    margin: 20px 0;
}

.event-details p {
    margin: 5px 0;
}

.btn-custom {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 0 0 10px red;
}

.btn-custom:hover {
    background-color: white;
    color: red; 
    box-shadow: 0 0 20px red;
}
footer{
    height: 350px;
}
.footer-link {
    color: #fff;
    text-decoration: none;
  }
  .footer-link:hover {
    color: #ddd;
  }
  .social-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin-right: 5px;
  }

   footer h5 {
    color: #fd4d4d;
    font-size: var(--text-size);
}
footer ul li {
    line-height: 39px;
}
footer p {
    color: #fff;
    line-height: 30px;
}
.heading-text {
    display: inline-block;
    background: -webkit-linear-gradient(0deg, #389fff 0%, #3b73f3 20%, #4052f1 40%, #8b3cf3 60%, #ba2b2b 80%, #ab1313 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.people__card {
    background: linear-gradient(135deg, #a51212, #7a1f1f, #621818, #2b1212, #140b0b, #120c0c, #110e0e, #0f0f0f);
}


h3, h5, p, h4, span,svg, .h5{
    color: #fff;
}